//@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
:root {
  body {
    --main-background: hsl(222, 26%, 31%);
    --toggle-background: hsl(223, 31%, 20%);
    --keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);

    --key-background-reset: hsl(225, 21%, 49%);
    --key-shadow-reset: hsl(224, 28%, 35%);

    --key-background-equal: hsl(6, 63%, 50%);
    --key-shadow-equal: hsl(6, 70%, 34%);

    --key-background-numbers: hsl(30, 25%, 89%);
    --key-shadow-numbers: hsl(28, 16%, 65%);

    --dark-text: hsl(221, 14%, 31%);
    --light-text: hsl(0, 0, 100%);
  }
}

// [data-theme='light'] {
//   --main-background: hsl(0, 0%, 90%);
//   --toggle-background: hsl(0, 5%, 81%);
//   --keypad-background: hsl(0, 5%, 81%);
//   --screen-background: hsl(0, 0%, 93%);

//   --key-background-reset: hsl(185, 42%, 37%);
//   --key-shadow-reset: hsl(185, 58%, 25%);

//   --key-background-equal: hsl(25, 98%, 40%);
//   --key-shadow-equal: hsl(25, 99%, 27%);

//   --key-background-numbers: hsl(45, 7%, 89%);
//   --key-shadow-numbers: hsl(35, 11%, 61%);

//   --dark-text: hsl(60, 10%, 19%);
//   --light-text: hsl(0, 0, 100%);
// }

// [data-theme='violet'] {
//   --main-background: hsl(268, 75%, 9%);
//   --toggle-background: hsl(268, 71%, 12%);
//   --keypad-background: hsl(268, 71%, 12%);
//   --screen-background: hsl(268, 71%, 12%);

//   --key-background-reset: hsl(281, 89%, 26%);
//   --key-shadow-reset: hsl(285, 91%, 52%);

//   --key-background-equal: hsl(176, 100%, 44%);
//   --key-shadow-equal: hsl(177, 92%, 70%);

//   --key-background-numbers: hsl(268, 47%, 21%);
//   --key-shadow-numbers: hsl(290, 70%, 36%);

//   --dark-text: hsl(198, 20%, 13%);
//   --light-text: hsl(0, 0, 100%);
//   --yellow-text: hsl(52, 100%, 62%);
// }

html,
body {
  padding: 0;
  margin: 0;
  //  font-family: 'Spartan', sans-serif;
}
