@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
@import 'reset';
@import '_colors';
@import '_calculator';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
}
.container {
  margin: 0;
  background-color: var(--main-background);
  width: 100vw;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  transition: all 0.5s;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 80vw;
  max-width: 25rem;
  margin-bottom: 1rem;
}

.title {
  color: var(--text);
  display: inline-block;
}

.fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0;
  width: 130px;
}

.button_name {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--text);
}

.buttons {
  display: flex;
  flex-direction: column;
}

.labels {
  display: flex;
  justify-content: space-between;
  color: var(--text);
}

.inputs {
  border-radius: 50px;
  position: relative;
  padding: 0.2rem 0.3rem;
  display: flex;
  align-items: center;
  & > input[type='radio'] {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    height: 1rem;
    width: 1rem;
    opacity: 0;
    z-index: 1;
  }
  .wrapper {
    position: absolute;
    left: 0;
    border-radius: 50px;
    background-color: var(--toggle-background);
    width: 100%;
    height: 100%;
  }
  .switcher {
    // the toggle
    height: 1rem;
    width: 1rem;
    display: block;
    background-color: var(--key-background-equal);
    border-radius: 50px;
    left: 0.3rem;
    position: absolute;
    transition: all 0.1s ease-out;
  }
}

#light:checked ~ .switcher {
  left: 1.3rem;
}
#violet:checked ~ .switcher {
  left: 2.3rem;
}
